/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #d7c6a4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #6ebe44;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(1, 255, 43);
    width: 300px;
    text-align: left;
}

h2 {
    text-align: center;  
    color: #ffffff;  
    margin-bottom: 20px;
    font-size: 24px;
}


label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #ffffff;
}
input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

input[type="email"]:focus,
input[type="password"]:focus {
    border-color: #8c00ff;
    outline: none;
}

button#btn_cadastrar {
    width: 100%;
    padding: 10px;
    background-color: #A1D27F;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button#btn_cadastrar:hover {
    background-color: #4c8c2e;
}
.resposta{
    font-size: 15px;
}