/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #d7c6a4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #6ebe44;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(1, 255, 43);
    width: 400px;  
    text-align: left;
}

h2 {
    text-align: center;  
    color: #ffffff;  
    margin-bottom: 20px;
    font-size: 24px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #ffffff;  
}
input[type="tel"],
input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
    border-color: #4c8c2e;  
    outline: none;
}

textarea {
    resize: vertical;  /* Permite redimensionar verticalmente */
    min-height: 80px;  /* Altura mínima para a mensagem */
}

button#btn_enviar {  /* Adaptado de btn_cadastro para btn_enviar */
    width: 100%;
    padding: 10px;
    background-color: #A1D27F
    ;  /* Roxo */
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button#btn_enviar:hover {
    background-color: #4c8c2e;  
}

.resposta {
    font-size: 15px;  /* Como você definiu */
    margin-top: 20px;
    padding: 10px;
    background-color: #e9ecef;
    border-radius: 4px;
    color: #665f5f;
    font-weight: bold;
    text-align: center;
}
